@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --appbar-height: 3.5rem;
    --navbar-height: 3.8rem;
    --content-min-width: 300px;
    --content-max-width: 600x;
}

@layer components {
    .btn {
        @apply px-4 py-2 rounded font-semibold text-sm shadow-sm bg-violet-500 text-white hover:bg-violet-600;
    }

    .input-field {
        @apply w-full border-2 border-violet-400 rounded;
    }

    .fieldset {
        @apply p-3 border-2 border-solid rounded border-violet-400;
    }

    .button-disabled {
        @apply bg-violet-300 cursor-not-allowed;
    }

    .navbar-bg-color {
        @apply bg-indigo-600;
    }

    .navbar-border-color {
        @apply border-indigo-300;
    }

    .err-text-color {
        @apply text-red-700;
    }

    .actionbar-icon {
        @apply w-8 h-8;
    }

    .profile-portrait {
        @apply object-cover rounded-md w-14 h-14;
    }
}
