@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-height: 3.8rem;
    --content-min-width: 300px;
    --content-min-width: 300px;
}

@layer components {
    .btn {
        @apply px-4 py-2 rounded font-semibold text-sm shadow-sm bg-sky-400 text-white hover:bg-sky-500;
    }

    .input-field {
        @apply w-full border-2 border-slate-400 rounded;
    }

    .fieldset {
        @apply p-3 border-2 border-solid rounded border-slate-400;
    }

    .button-disabled {
        @apply bg-slate-300 cursor-not-allowed;
    }

    .navbar-bg-color {
        @apply bg-slate-600;
    }

    .navbar-bg-color {
        @apply bg-slate-300;
    }
}
